

body {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    background-image: url("Linkedin_Profile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid #e7fde6;
  }

  a {
    font-size: large;
  }

  .border {
    border: 3px solid #ccc !important;
  }

  .margin-top{
    margin-top:16px!important;
  }

  .round

  .padding{
    padding:8px 16px!important;
  }

  .margin{
    margin:16px!important
  }

  .button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:#000;
    background-color:#e7fde6;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
  }

  .sand

  .hover-pale-green:hover{
    color:#000!important;
    background-color:#ddffdd!important;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .links-container a {
    width: 100%;
    color: #414345 !important;
    transition: 0.2s;
  }

  .links-container a:hover {
    opacity: 1;
  }

  .profession {
    margin-top: 15px !important;
  }

  .profession span {
    font-size: 14px;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .icons a {
    text-decoration: none;
  }

  .icons a svg {
    fill: #e7fde6 !important;
    transform: scale(1);
  }

  .border {
    border: 3px ridge #e7fde6;
  }

  .contact {
    text-align: center;
    color: #e7fde6;
  }

  .contact .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .contact .info a {
    color: #e7fde6;
  }

  .contact .info span {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .bio {
    font-size: 11px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .link {
      width: 100%;
    }

    a {
      font-size: x-large;
    }

  }
  @media screen and (min-width: 576px) {
    .container {
      max-width: 540px;
    }

    .profession span {
      font-size: 24px;
    }
    
    .bio {
      font-size: 15px;
    }

  }